# Ignorar todos los archivos .csv
*.csv

# Ignorar archivos de Jupyter Notebook outputs
*.ipynb_checkpoints/

# Ignorar archivos de configuración de entornos virtuales
.env
.venv/

# Ignorar archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar archivos de logs
*.log

# Ignorar archivos de dependencias
Pipfile
Pipfile.lock
requirements.txt

# Ignorar archivos del sistema
.DS_Store
Thumbs.db
